{
  "openapi": "3.1.0",
  "info": {
    "title": "HPE Greenlake for Compute Ops Management API",
    "description": "GreenLake for Compute Operations Management provides a Restful API to customers who want to manage their devices programmatically or through a command line. The API enables customers to invoke operations or tasks such as list devices, see device details, device health, and manage their device's firmware.",
    "license": {
      "name": "HPE End User License Agreement",
      "url": "https://www.hpe.com/us/en/software/licensing.html"
    },
    "version": "latest"
  },
  "servers": [
    {
      "url": "https://us-west2-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in US West 2"
    },
    {
      "url": "https://eu-central1-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in EU Central 1"
    },
    {
      "url": "https://ap-northeast1-api.compute.cloud.hpe.com",
      "description": "Compute Ops Management API in AP NorthEast 1"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
    ,
    "parameters": {
      "offsetParam": {
        "in": "query",
        "name": "offset",
        "description": "Zero-based resource offset to start the response from",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        },
        "example": 10
      },
      "limitParam": {
        "in": "query",
        "name": "limit",
        "description": "The maximum number of records to return.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000
        },
        "example": 10
      },
      "filterParam": {
        "in": "query",
        "name": "filter",
        "description": "Limit the resources operated on by an endpoint or when used with a multiple-GET endpoint,\nreturn only the subset of resources that match the filter. The filter grammar is a subset\nof OData 4.0.\n\n| CLASS     |  EXAMPLES                                          |\n|-----------|----------------------------------------------------|\n| Types     | integer, decimal, timestamp, string, boolean, null |\n| Operations| eq, ne, gt, ge, lt, le, in                         |\n| Logic     | and, or, not                                       |\n",
        "schema": {
          "type": "string"
        },
        "examples": {
          "equals": {
            "summary": "Filter with equality check",
            "description": "Return resources where groupId == 031adad0-f77c-403d-84f5-e0bb46e0d927",
            "value": "groupId eq '031adad0-f77c-403d-84f5-e0bb46e0d927'"
          },
          "nested-fields": {
            "summary": "Filter on a nested attribute",
            "description": "Return resources where the type subfield of the source field == Server",
            "value": "source/type eq 'Server'"
          },
          "not": {
            "summary": "Filter on an inverted query",
            "description": "Return resources where the type subfield of the source field != Firmware",
            "value": "not source/type eq 'Firmware'"
          },
          "populated": {
            "summary": "Filter that the groupId contains a value",
            "description": "Return resources with populated groupId",
            "value": "not groupId eq null"
          },
          "contains": {
            "summary": "Filter that field value contains a specific substring",
            "description": "Return resources where associatedServerId contains 299765-R18",
            "value": "contains(associatedServerId,'299765-R18')"
          },
          "and": {
            "summary": "Filter on multiple conditionals",
            "description": "Return resources where group is populated and associatedServerId contains 299765-R18",
            "value": "not groupId eq null and contains(associatedServerId,'299765-R18')"
          },
          "alternatives": {
            "summary": "Filter for a value to have one of multiple possibilities",
            "description": "Return resources where the type subfield is either Server or Firmware",
            "value": "source/type in ('Server','Firmware')"
          }
        }
      },
      "contentTypeHeaderPatch": {
        "name": "Content-Type",
        "in": "header",
        "description": "Content-Type header must designate 'application/merge-patch+json' in order for the request to be performed.",
        "required": true,
        "schema": {
          "type": "string",
          "const": "application/merge-patch+json"
        }
      },
      "contentTypeHeaderJson": {
        "name": "Content-Type",
        "in": "header",
        "description": "Content-Type header must designate 'application/json' in order for the request to be performed.",
        "required": true,
        "schema": {
          "type": "string",
          "const": "application/json"
        }
      },
      "sortParam": {
        "in": "query",
        "name": "sort",
        "description": "The order in which to return the resources in the collection.\n\nThe value of the sort query parameter is a comma separated list of sort expressions. \nEach sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc \n(descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, \nand so on. If a direciton indicator is omitted the default direction is ascending.",
        "schema": {
          "type": "string"
        },
        "examples": {
          "name-asc": {
            "summary": "ascending by name",
            "description": "Order resources ascending by name",
            "value": "name asc"
          },
          "name-createdAt-desc": {
            "summary": "ascending by name and then by descending by createdAt",
            "description": "Order resources ascending by name and then by descending by createdAt",
            "value": "name,createdAt desc"
          }
        }
      },
      "idempotencyKeyHeader": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "A unique value generated by the client which the server uses to recognize subsequent retries of the same request.",
        "required": false,
        "example": "2c578105-adeb-4785-9113-8c577a0681fa",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ifMatchHeader": {
        "name": "If-Match",
        "in": "header",
        "description": "Value which must match the \"generation\" property of the resource in order for the request to be performed.",
        "required": false,
        "example": "\"3\"",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "resourceCollection2": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "offset": {
            "type": "integer",
            "description": "Zero-based resource offset",
            "minimum": 0
          },
          "count": {
            "type": "integer",
            "description": "Number of items returned",
            "example": 1,
            "minimum": 0
          },
          "total": {
            "type": "integer",
            "description": "Total number of items in the collection that match the filter query",
            "example": 12,
            "minimum": 0
          },
          "items": {
            "type": "array"
          }
        }
      },
      "healthState": {
        "type": "string",
        "enum": [
          "UNKNOWN",
          "OK",
          "WARNING",
          "CRITICAL",
          "READY",
          "NOT_PRESENT"
        ],
        "description": "Health state"
      },
      "redundancyState": {
        "type": "string",
        "enum": [
          "NON_REDUNDANT",
          "REDUNDANT",
          "NOT_PRESENT",
          "UNKNOWN"
        ],
        "description": "Redundancy state"
      },
      "firmwareInventoryItem-v1beta2": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "deviceContext": {
            "type": "string"
          }
        }
      },
      "firmwareInventoryUpdate-v1beta2": {
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the firmware component that was updated",
            "type": "string"
          },
          "version": {
            "description": "Version of the firmware that the component was updated to",
            "type": "string"
          },
          "status": {
            "description": "Status of the firmware update",
            "type": "string",
            "enum": [
              "OK",
              "FAILED"
            ]
          }
        }
      },
      "server-v1beta2": {
        "description": "Server",
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the server given by the system",
            "type": "string",
            "format": "productId+serialNumber"
          },
          "name": {
            "description": "Name given to resource",
            "type": "string",
            "example": "myServer"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/server"
          },
          "resourceUri": {
            "description": "URI to the server itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/servers/875765-S01+1M512501AB"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of server creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last server update",
            "type": "string",
            "format": "date-time"
          },
          "platformFamily": {
            "description": "Plaform Family of the server",
            "type": [
              "string",
              null
            ],
            "enum": [
              "PROLIANT"
            ]
          },
          "hardware": {
            "type": "object",
            "title": "hardware",
            "description": "Server hardware details",
            "properties": {
              "serialNumber": {
                "type": "string"
              },
              "model": {
                "type": "string"
              },
              "uuid": {
                "type": "string",
                "format": "uuid"
              },
              "productId": {
                "type": "string"
              },
              "powerState": {
                "type": "string",
                "description": "This will be a mix of power states and reset types.",
                "enum": [
                  "UNKNOWN",
                  "ON",
                  "OFF",
                  "POWERING_ON",
                  "POWERING_OFF",
                  "RESET"
                ]
              },
              "indicatorLed": {
                "type": "string",
                "enum": [
                  "UNKNOWN",
                  "LIT",
                  "BLINKING",
                  "OFF"
                ]
              },
              "health": {
                "type": "object",
                "title": "health",
                "description": "Server health details",
                "properties": {
                  "summary": {
                    "description": "Calculated summary of the overall health",
                    "$ref": "#/components/schemas/healthState"
                  },
                  "fans": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "fanRedundancy": {
                    "$ref": "#/components/schemas/redundancyState"
                  },
                  "liquidCooling": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "liquidCoolingRedundancy": {
                    "$ref": "#/components/schemas/redundancyState"
                  },
                  "memory": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "network": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "powerSupplies": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "powerSupplyRedundancy": {
                    "$ref": "#/components/schemas/redundancyState"
                  },
                  "processor": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "storage": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "temperature": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "bios": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "smartStorage": {
                    "$ref": "#/components/schemas/healthState"
                  },
                  "healthLED": {
                    "$ref": "#/components/schemas/healthState"
                  }
                }
              },
              "bmc": {
                "type": "object",
                "title": "bmc",
                "description": "iLO BMC details",
                "properties": {
                  "mac": {
                    "type": "string"
                  },
                  "ip": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "state": {
            "type": "object",
            "title": "state",
            "description": "Server connectivity state",
            "properties": {
              "managed": {
                "type": "boolean"
              },
              "connected": {
                "type": "boolean"
              },
              "connectedModifiedAt": {
                "type": "string",
                "format": "date-time"
              },
              "subscriptionState": {
                "description": "Subscription State",
                "type": "string",
                "enum": [
                  "REQUIRED",
                  "SUBSCRIBED",
                  "EXPIRED"
                ]
              },
              "subscriptionTier": {
                "description": "Subscription Tier",
                "type": [
                  "string",
                  null
                ],
                "enum": [
                  "Standard",
                  "Enhanced"
                ]
              },
              "subscriptionExpiresAt": {
                "description": "Subscription validity end date",
                "type": [
                  "string",
                  null
                ],
                "format": "date-time"
              }
            }
          },
          "firmwareInventory": {
            "description": "Firmware Inventory",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/firmwareInventoryItem-v1beta2"
            }
          },
          "firmwareBundleUri": {
            "type": [
              "string",
              null
            ]
          },
          "lastFirmwareUpdate": {
            "description": "Details of the last firmware update",
            "type": [
              "object",
              null
            ],
            "properties": {
              "status": {
                "description": "Status of the last firmware update",
                "type": "string",
                "enum": [
                  "OK",
                  "FAILED"
                ]
              },
              "attemptedAt": {
                "description": "Date in which the last firmware update job was attempted",
                "type": "string",
                "format": "date-time"
              },
              "firmwareInventoryUpdates": {
                "description": "List of the components updated by the last firmware update",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/firmwareInventoryUpdate-v1beta2"
                }
              }
            }
          },
          "tags": {
            "description": "Extra identifiers a server",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "location": "San Jose"
            }
          },
          "processorVendor": {
            "description": "Type and brand of processor",
            "type": "string",
            "example": "Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz"
          },
          "biosFamily": {
            "description": "Bios version",
            "type": "string"
          },
          "host": {
            "type": "object",
            "title": "host",
            "description": "host details",
            "properties": {
              "osName": {
                "type": "string"
              },
              "osVersion": {
                "type": "string"
              },
              "hostname": {
                "type": "string"
              },
              "osDescription": {
                "type": "string"
              },
              "osType": {
                "type": "integer"
              }
            }
          },
          "autoIloFwUpdate": {
            "type": "boolean",
            "description": "To opt in for automatic iLO-only firmware update"
          }
        }
      },
      "serverCollection-v1beta2": {
        "allOf": [
          {
            "description": "Server collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/server-v1beta2"
                }
              }
            }
          }
        ]
      },
      "errorDetailBadRequest": {
        "type": "object",
        "description": "Additional information on why the request is bad",
        "required": [
          "type",
          "issues"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "hpe.greenlake.bad_request"
          },
          "issues": {
            "type": "array",
            "description": "List of bad request issues",
            "items": {
              "type": "object",
              "required": [
                "source",
                "subject"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "description": "The part of the request with an issue",
                  "enum": [
                    "field",
                    "header",
                    "query.parameter"
                  ]
                },
                "subject": {
                  "type": "string",
                  "description": "The specific issue key. For example, if the `source` property is `field`, the subject is the dot-separated property name the issue is about.",
                  "example": "user.phone"
                },
                "description": {
                  "type": "string",
                  "description": "A user-friendly description of the issue"
                }
              }
            }
          }
        }
      },
      "errorDetailGeneral": {
        "type": "object",
        "description": "General metadata about the error",
        "required": [
          "type",
          "source",
          "metadata"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "hpe.greenlake.metadata"
          },
          "source": {
            "type": "string",
            "description": "Source of the error, typically the API group",
            "const": "compute-ops"
          },
          "metadata": {
            "type": "object",
            "description": "Additional key value pairs that provide information about this error.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "errorDetailPreconditionFailed": {
        "type": "object",
        "description": "Additional information on why the request failed the preconditions",
        "required": [
          "type",
          "issues"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "hpe.greenlake.precondition_failed"
          },
          "issues": {
            "type": "array",
            "description": "List of precondition issues",
            "items": {
              "type": "object",
              "required": [
                "source",
                "subject"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "description": "A service specific type of the format"
                },
                "subject": {
                  "type": "string",
                  "description": "The specific issue"
                },
                "description": {
                  "type": "string",
                  "description": "A user-friendly description of how the precondition failed"
                }
              }
            }
          }
        }
      },
      "errorDetailRetryInfo": {
        "type": "object",
        "description": "Information on how to retry a request as a result of a rate limit error",
        "required": [
          "type",
          "retryAfterSeconds"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "hpe.greenlake.retry_info"
          },
          "retryAfterSeconds": {
            "type": "integer",
            "description": "Seconds to wait before retrying"
          }
        }
      },
      "errorDetail": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/errorDetailBadRequest"
          },
          {
            "$ref": "#/components/schemas/errorDetailGeneral"
          },
          {
            "$ref": "#/components/schemas/errorDetailPreconditionFailed"
          },
          {
            "$ref": "#/components/schemas/errorDetailRetryInfo"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "hpe.greenlake.bad_request": "#/components/schemas/errorDetailBadRequest",
            "hpe.greenlake.metadata": "#/components/schemas/errorDetailGeneral",
            "hpe.greenlake.precondition_failed": "#/components/schemas/errorDetailPreconditionFailed",
            "hpe.greenlake.retry_info": "#/components/schemas/errorDetailRetryInfo"
          }
        }
      },
      "errorResponse": {
        "type": "object",
        "description": "Standard error response when an AIP has an error",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "description": "HTTP equivalent status code",
            "minimum": 400,
            "maximum": 599,
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "description": "Unique machine-friendly identifier for the error",
            "example": "HPE-GL-COMPUTE_OPS-0500001"
          },
          "message": {
            "type": "string",
            "description": "User-friendly error message"
          },
          "debugId": {
            "type": "string",
            "description": "Unique identifier for the instance of this error"
          },
          "errorDetails": {
            "type": "array",
            "description": "Additional detailed information about the error",
            "items": {
              "$ref": "#/components/schemas/errorDetail"
            }
          }
        }
      },
      "serverUpdateRequest-v1beta2": {
        "type": "object",
        "properties": {
          "autoIloFwUpdate": {
            "description": "To opt in for automatic iLO-only firmware update",
            "type": "boolean",
            "default": true
          }
        }
      },
      "alert-v1beta2": {
        "description": "Server hardware alert",
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the alert given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/alert"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of alert creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last alert update",
            "type": "string",
            "format": "date-time"
          },
          "serverId": {
            "description": "ID of the server to which this alert is associated",
            "type": "string"
          },
          "severity": {
            "type": "string",
            "enum": [
              "OK",
              "WARNING",
              "CRITICAL",
              "UNKNOWN",
              "NOT_PRESENT",
              "REDUNDANT",
              "NON_REDUNDANT"
            ]
          },
          "description": {
            "type": "string"
          },
          "resolution": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "category": {
            "type": "string"
          },
          "serviceEvent": {
            "type": "boolean"
          }
        }
      },
      "alertCollection-v1beta2": {
        "allOf": [
          {
            "description": "Alert collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/alert-v1beta2"
                }
              }
            }
          }
        ]
      },
      "notificationsResponse-v1beta2": {
        "type": "object",
        "properties": {
          "serverId": {
            "type": "string"
          },
          "criticalNotification": {
            "type": "boolean"
          }
        }
      },
      "notificationsRequest-v1beta2": {
        "required": [
          "criticalNotification"
        ],
        "type": "object",
        "properties": {
          "criticalNotification": {
            "type": "boolean"
          }
        }
      },
      "serverRawInventoryItem-v1beta2": {
        "type": "object",
        "description": "JSON data that describes the raw intentory of a server",
        "format": "JSON",
        "additionalProperties": {
          "type": [
            "string",
            null
          ]
        }
      },
      "rawInventory-v1beta2": {
        "description": "Server raw inventories",
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the device given by the system",
            "type": "string"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/server/raw-inventory"
          },
          "serial": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "firmwareInventory": {
            "description": "Firmware Inventory",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/serverRawInventoryItem-v1beta2"
            }
          },
          "softwareInventory": {
            "description": "Software Inventory",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/serverRawInventoryItem-v1beta2"
            }
          },
          "storageInventory": {
            "description": "JSON data that describes Storage Inventory",
            "type": "object",
            "format": "JSON",
            "additionalProperties": {
              "type": [
                "string",
                null
              ]
            }
          },
          "pciDevices": {
            "description": "PCI devices",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/serverRawInventoryItem-v1beta2"
            }
          },
          "smartUpdateTool": {
            "description": "JSON data that describes Integrated Smart Update Tools settings",
            "type": "object",
            "format": "JSON",
            "additionalProperties": {
              "type": [
                "string",
                null
              ]
            }
          }
        }
      },
      "jobState": {
        "type": "string",
        "enum": [
          "PENDING",
          "RUNNING",
          "STALLED",
          "ERROR",
          "COMPLETE"
        ],
        "description": "The current state of a job, indicating whether a job is waiting, running, or terminal"
      },
      "job-v1beta2": {
        "description": "Job",
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the job given by the system",
            "type": "string",
            "format": "uuid"
          },
          "parentJobId": {
            "description": "The identifier of a job which triggered this job",
            "type": [
              "string",
              null
            ],
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/job"
          },
          "resourceUri": {
            "description": "URI to the job itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/jobs/2500759c-b7dd-4c68-ab7e-6b644bcf4b9c"
          },
          "name": {
            "description": "Name for the job",
            "type": "string"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of job creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last job update",
            "type": "string",
            "format": "date-time"
          },
          "jobTemplateUri": {
            "type": "string"
          },
          "associatedResourceUri": {
            "type": "string"
          },
          "resource": {
            "type": "object",
            "title": "resource",
            "description": "Reference to the resource this job is operating against",
            "properties": {
              "resourceUri": {
                "type": "string"
              },
              "type": {
                "type": "string"
              }
            }
          },
          "data": {
            "description": "Data needed for this job",
            "type": "object",
            "title": "data",
            "additionalProperties": {
              "type": "string"
            }
          },
          "state": {
            "$ref": "#/components/schemas/jobState"
          },
          "status": {
            "type": "string"
          },
          "statusDetails": {
            "description": "Additional information about the jobs status",
            "type": [
              "object",
              null
            ]
          }
        }
      },
      "jobCollection-v1beta2": {
        "allOf": [
          {
            "description": "Job Collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/job-v1beta2"
                }
              }
            }
          }
        ]
      },
      "jobCreate-v1beta2": {
        "description": "Create a job",
        "type": "object",
        "required": [
          "jobTemplateUri",
          "resourceUri"
        ],
        "properties": {
          "jobTemplateUri": {
            "description": "A job-template URI with the durable Template ID of the job",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/job-templates/0cbb2377-1834-488d-840c-d5bf788c34fb"
          },
          "resourceUri": {
            "description": "A resource URI that the job will operate on",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/servers/abc+123"
          },
          "data": {
            "description": "Any additional data required by this job",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "jobUpdate-v1beta2": {
        "description": "Job update",
        "type": "object",
        "properties": {
          "state": {
            "description": "New state for the job (currently only Error is supported)",
            "type": "string",
            "enum": [
              "ERROR"
            ]
          }
        }
      },
      "job-v1beta3": {
        "description": "Job",
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the job given by the system",
            "type": "string",
            "format": "uuid",
            "example": "2500759c-b7dd-4c68-ab7e-6b644bcf4b9c"
          },
          "parentJobId": {
            "description": "The identifier of a job which triggered this job",
            "type": [
              "string",
              null
            ],
            "format": "uuid",
            "example": "284f3b7a-7a17-4f0a-9b40-a51bc887c7d0"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/job"
          },
          "resourceUri": {
            "description": "URI to the job itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta3/jobs/2500759c-b7dd-4c68-ab7e-6b644bcf4b9c"
          },
          "name": {
            "description": "Name for the job",
            "type": "string",
            "example": "FirmwareUpdate.New"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1,
            "example": 9
          },
          "createdAt": {
            "description": "Time of job creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last job update",
            "type": "string",
            "format": "date-time"
          },
          "jobTemplateUri": {
            "description": "URI to the job template this job is using",
            "type": "string",
            "example": "/compute-ops/v1beta2/job-templates/fd54a96c-cabc-42e3-aee3-374a2d009dba"
          },
          "associatedResourceUri": {
            "description": "URI to the resource this job is operating against",
            "type": "string",
            "example": "/compute-ops/v1beta2/servers/744674-N19+8899744674319686"
          },
          "resource": {
            "type": "object",
            "title": "resource",
            "description": "Reference to the resource this job is operating against",
            "properties": {
              "resourceUri": {
                "type": "string",
                "example": "/compute-ops/v1beta2/servers/744674-N19+8899744674319686"
              },
              "type": {
                "type": "string",
                "example": "servers"
              }
            }
          },
          "data": {
            "description": "Data needed for this job",
            "type": "object",
            "title": "data",
            "example": {
              "state_reason_message": {
                "message_id": "FWI-100",
                "message_args": [
                  "SPP 2022.12.00.00 (19 Dec 2022)"
                ]
              }
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "state": {
            "$ref": "#/components/schemas/jobState"
          },
          "resultCode": {
            "description": "Result code representing the outcome of a completed job",
            "type": [
              "string",
              null
            ],
            "enum": [
              "SUCCESS",
              "FAILURE"
            ]
          },
          "status": {
            "description": "Status message about the job",
            "type": "string"
          },
          "statusDetails": {
            "description": "Additional information about the job's status",
            "type": [
              "object",
              null
            ]
          }
        }
      },
      "jobCollection-v1beta3": {
        "allOf": [
          {
            "description": "Job Collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/job-v1beta3"
                }
              }
            }
          }
        ]
      },
      "jobCreate-v1beta3": {
        "description": "Create a job",
        "type": "object",
        "required": [
          "jobTemplateUri",
          "resourceUri"
        ],
        "properties": {
          "jobTemplateUri": {
            "type": "string",
            "description": "URI of the job template for this job",
            "example": "/compute-ops/v1beta2/job-templates/aacfb3e0-6575-4d4f-a711-1ee1ae768407"
          },
          "resourceUri": {
            "type": "string",
            "description": "Reference to the resource to run this job on",
            "example": "/compute-ops/v1beta2/servers/744674-N19+8899744674319686"
          },
          "data": {
            "description": "Data needed for this job (based on the job schema)",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "jobUpdate-v1beta3": {
        "description": "Job update",
        "type": "object",
        "properties": {
          "state": {
            "description": "New state for the job (currently only Complete or Error is supported)",
            "type": "string",
            "enum": [
              "COMPLETE",
              "ERROR"
            ]
          }
        }
      },
      "jobTemplate-v1beta2": {
        "description": "Job template",
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the job template given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/job-template"
          },
          "resourceUri": {
            "description": "URI to the job template itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/job-templates/e94fea5a-115e-41b2-8ca2-406b4bf710df"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of job template creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last job template update",
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "schema": {
            "type": "object",
            "description": "JSON Schema that describes the required data for an instance of this job",
            "format": "JSON",
            "additionalProperties": {
              "type": [
                "string",
                null
              ]
            }
          }
        }
      },
      "jobTemplateCollection-v1beta2": {
        "allOf": [
          {
            "description": "Job template collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/jobTemplate-v1beta2"
                }
              }
            }
          }
        ]
      },
      "activity-v1beta2": {
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the activity given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/activity"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of activity creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last activity update",
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "recommendedAction": {
            "type": [
              "string",
              null
            ]
          },
          "source": {
            "type": "object",
            "description": "Reference to the resource that caused this activity",
            "properties": {
              "resourceUri": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "displayName": {
                "type": "string"
              }
            }
          },
          "associatedServerUri": {
            "type": "string"
          }
        }
      },
      "activityCollection-v1beta2": {
        "allOf": [
          {
            "description": "Activity collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/activity-v1beta2"
                }
              }
            }
          }
        ]
      },
      "vmwareAddonInfoItem-v1beta2": {
        "type": "object",
        "description": "JSON data that describes addon and the location of the addon in RDA",
        "format": "JSON",
        "additionalProperties": {
          "type": [
            "string",
            null
          ]
        }
      },
      "firmwareBundle-v1beta2": {
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the firmware bundle given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/firmware-bundle"
          },
          "resourceUri": {
            "description": "URI to the firmware bundle itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/firmware-bundles/9a16ec6d-8c71-4338-a58a-6564df331ba2"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of firmware bundle creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last firmware bundle update",
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "releaseDate": {
            "type": "string",
            "format": "full-date-rfc3339"
          },
          "releaseVersion": {
            "type": "string"
          },
          "releaseNotes": {
            "type": "string"
          },
          "supportUrl": {
            "type": "string"
          },
          "enhancements": {
            "type": "string"
          },
          "advisories": {
            "type": "string"
          },
          "supportedOsList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "summary": {
            "type": "string"
          },
          "bundleType": {
            "type": "string",
            "enum": [
              "BASE",
              "HOTFIX",
              "SUPPLEMENT"
            ]
          },
          "hotfixBaseUri": {
            "type": [
              "string",
              null
            ]
          },
          "vmwareAddonInfo": {
            "description": "Details about addon and the location of the addon in RDA",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/vmwareAddonInfoItem-v1beta2"
            }
          }
        }
      },
      "firmwareBundleCollection-v1beta2": {
        "allOf": [
          {
            "description": "Firmware bundle collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items",
              "total"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/firmwareBundle-v1beta2"
                }
              }
            }
          }
        ]
      },
      "complianceState": {
        "type": "string",
        "enum": [
          "COMPLIANT",
          "NOT_COMPLIANT",
          "UNKNOWN"
        ],
        "description": "This state will help to define the firmware compliance status of the device. At the group level, if one of the device have compliance state as NOT_COMPLIANT then group state will be NOT_COMPLIANT, else if one of the device has compliance state as UNKNOWN then group state will be UNKNOWN, else if all the device has compliance state as COMPLIANT then group state will be COMPLIANT"
      },
      "deviceState": {
        "enum": [
          "ASSIGNED",
          "FAILED",
          "ACTIVE",
          "QUARANTINE",
          "APPLYING_FIRMWARE",
          "APPLYING_SCHEMA",
          "APPLYING_OS"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "subscriptionState": {
        "enum": [
          "REQUIRED",
          "SUBSCRIBED",
          "EXPIRED"
        ],
        "type": "string",
        "description": "Subscription state."
      },
      "subscriptionTier": {
        "enum": [
          "STANDARD",
          "ENHANCED"
        ],
        "type": "string",
        "description": "Subscription tier."
      },
      "deviceResponse-v1beta2": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "description": "Primary identifier for the device given by the system",
            "type": "string"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/device"
          },
          "resourceUri": {
            "description": "URI to the device itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/groups/6081a383-b9e5-45e3-8371-1e0ba7b72068/devices/873357-P04+WKQ82425HD"
          },
          "serial": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "eTag": {
            "type": "string"
          },
          "serverId": {
            "type": "string"
          },
          "serverUri": {
            "type": "string",
            "example": "/api/compute/v1/servers/873357-P04+WKQ82425HD"
          },
          "state": {
            "$ref": "#/components/schemas/deviceState"
          },
          "groupId": {
            "type": "string",
            "format": "uuid"
          },
          "subscriptionState": {
            "$ref": "#/components/schemas/subscriptionState"
          },
          "subscriptionTier": {
            "$ref": "#/components/schemas/subscriptionTier"
          }
        }
      },
      "noSettingsReason": {
        "enum": [
          "GROUP_HAS_NO_SETTINGS",
          "GROUP_HAS_NO_AUTO_POLICY",
          "SERVER_IS_NOT_LICENSED"
        ],
        "type": "string",
        "description": "An enumeration."
      },
      "noSettingsMeta-v1beta2": {
        "type": "object",
        "properties": {
          "noSettingsReason": {
            "$ref": "#/components/schemas/noSettingsReason"
          }
        },
        "additionalProperties": false
      },
      "settingsAppliedMeta-v1beta2": {
        "type": "object",
        "properties": {
          "deviceCount": {
            "exclusiveMinimum": 0,
            "minimum": 1,
            "type": "integer"
          },
          "appliedCount": {
            "minimum": 0,
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "groupResponse-v1beta2": {
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Primary identifier for the group given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/group"
          },
          "resourceUri": {
            "description": "URI to the group itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/groups/0e7f516c-0829-4135-83d6-09ce844ddd9d"
          },
          "name": {
            "description": "Name for the group given by the user",
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Production Group"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of group creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "description": "Time of the last group update",
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "maxLength": 10000,
            "type": "string",
            "example": "All prod servers"
          },
          "autoFwUpdateOnAdd": {
            "description": "Enabled automatic firmware updates to the configured baseline when a server is added to a group",
            "type": "boolean"
          },
          "groupComplianceStatus": {
            "$ref": "#/components/schemas/complianceState"
          },
          "serverSettingsUris": {
            "type": "array",
            "description": "URIs for group server settings",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "/compute-ops/v1beta1/server-settings/00000000-0000-0000-0000-800000000001"
            ]
          },
          "platformFamily": {
            "type": [
              "string"
            ],
            "enum": [
              "ANY",
              "PROLIANT"
            ],
            "description": "Platform family of all servers in this group. There are no restrictions for groups and all supported server types are allowed. This optional attribute will be set to a default value of \"ANY\", to indicate that any platform family servers can be in this group, regardless of the value passed in.",
            "default": "ANY",
            "example": "ANY"
          },
          "devicesUri": {
            "type": "string",
            "example": "/compute-ops/v1beta2/groups/6081a383-b9e5-45e3-8371-1e0ba7b72068/devices"
          },
          "devices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceResponse-v1beta2"
            },
            "default": []
          },
          "serverPolicies": {
            "type": "object",
            "description": "Stores policy settings for server group actions",
            "properties": {
              "onServerAdd": {
                "type": "object",
                "description": "Policies to be applied when a server is added to a group",
                "properties": {
                  "firmwareDowngrade": {
                    "type": "boolean",
                    "default": false,
                    "description": "Allow downgrade of firmware when firmware update is performed on server addition to a group. Valid only when firmware update is set to true"
                  },
                  "firmwareUpdate": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enabled automatic firmware updates to the configured baseline when a server is added to a group"
                  },
                  "biosApplySettings": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable automatic application of BIOS settings when a server is added to a group. A server group must have one of the HPE pre-defined BIOS/Workload profiles to allow the auto apply of BIOS settings."
                  },
                  "storageConfiguration": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, the OS volume will be created immediately if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeDeletion": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, any existing internal storage configuration will be erased prior to creating the new OS volume if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeName": {
                    "type": "boolean",
                    "default": false,
                    "description": "When a server is added to the group, associate a name with the created volume if the server is activated or when the server is activated at a later time."
                  }
                }
              }
            }
          },
          "autoAddServerTags": {
            "description": "User configured tag used for the automatic assignment of a server to a group",
            "type": "object",
            "example": {
              "Department": "Development"
            }
          },
          "groupMeta": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/noSettingsMeta-v1beta2"
              },
              {
                "$ref": "#/components/schemas/settingsAppliedMeta-v1beta2"
              },
              {
                "type": [
                  null
                ]
              }
            ]
          }
        }
      },
      "groupCollection-v1beta2": {
        "allOf": [
          {
            "description": "Group collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/groupResponse-v1beta2"
                }
              }
            }
          }
        ]
      },
      "groupCreateRequest-v1beta2": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "example": "Production Group"
          },
          "description": {
            "maxLength": 10000,
            "type": "string",
            "example": "All prod servers"
          },
          "autoFwUpdateOnAdd": {
            "description": "Enable automatic firmware updates to the configured baseline when a server is added to a group, This is equivalent to firmwareUpdate under serverPolicies. The value must be same if both are provided",
            "type": "boolean",
            "default": false
          },
          "platformFamily": {
            "type": [
              "string"
            ],
            "description": "Platform family of all servers in this group. There are no restrictions for groups and all supported server types are allowed. This optional attribute will be set to a default value of \"ANY\", to indicate that any platform family servers can be in this group, regardless of the value passed in.",
            "enum": [
              "ANY",
              "PROLIANT"
            ],
            "default": "ANY"
          },
          "serverSettingsUris": {
            "type": "array",
            "description": "URIs for group server settings",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "/compute-ops/v1beta1/server-settings/00000000-0000-0000-0000-800000000001"
            ]
          },
          "data": {
            "type": "object",
            "default": {}
          },
          "serverPolicies": {
            "type": "object",
            "description": "Stores policy settings for server group actions",
            "properties": {
              "onServerAdd": {
                "type": "object",
                "description": "Policies to be applied when a server is added to a group",
                "properties": {
                  "firmwareDowngrade": {
                    "type": "boolean",
                    "default": false,
                    "description": "Allow downgrade of firmware when firmware update is performed on server addition to a group. Valid only when firmware update is set to true"
                  },
                  "firmwareUpdate": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable automatic firmware updates to the configured baseline when a server is added to a group, This is equivalent to autoFwUpdateOnAdd. The value must be same if both are provided"
                  },
                  "biosApplySettings": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable automatic application of BIOS settings when a server is added to a group. A server group must have one of the HPE pre-defined BIOS/Workload profiles to allow the auto apply of BIOS settings."
                  },
                  "storageConfiguration": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, the OS volume will be created immediately if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeDeletion": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, any existing internal storage configuration will be erased prior to creating the new OS volume if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeName": {
                    "type": "boolean",
                    "default": false,
                    "description": "When a server is added to the group, associate a name with the created volume if the server is activated or when the server is activated at a later time."
                  }
                }
              }
            }
          },
          "autoAddServerTags": {
            "description": "User configured tag used for the automatic assignment of a server to a group",
            "type": "object",
            "example": {
              "Department": "Development"
            }
          }
        }
      },
      "groupUpdateRequest-v1beta2": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 100,
            "minLength": 1,
            "type": "string",
            "example": "Production Group"
          },
          "description": {
            "maxLength": 10000,
            "type": "string",
            "example": "All prod servers"
          },
          "serverSettingsUris": {
            "title": "Serversettingsuris",
            "description": "URIs for group server settings",
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "example": [
              "/api/compute/v1/server-settings/00000000-0000-0000-0000-800000000001"
            ]
          },
          "autoFwUpdateOnAdd": {
            "description": "Enable automatic firmware updates to the configured baseline when a server is added to a group, This is equivalent to firmwareUpdate under serverPolicies. The value must be same if both are provided",
            "type": "boolean",
            "default": false
          },
          "serverPolicies": {
            "type": "object",
            "description": "Stores policy settings for server group actions",
            "properties": {
              "onServerAdd": {
                "type": "object",
                "description": "Policies to be applied when a server is added to a group",
                "properties": {
                  "firmwareDowngrade": {
                    "type": "boolean",
                    "default": false,
                    "description": "Allow downgrade of firmware when firmware update is performed on server addition to a group. Valid only when firmware update is set to true"
                  },
                  "firmwareUpdate": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable automatic firmware updates to the configured baseline when a server is added to a group, This is equivalent to autoFwUpdateOnAdd. The value must be same if both are provided"
                  },
                  "biosApplySettings": {
                    "type": "boolean",
                    "default": false,
                    "description": "Enable automatic application of BIOS settings when a server is added to a group. A server group must have one of the HPE pre-defined BIOS/Workload profiles to allow the auto apply of BIOS settings."
                  },
                  "storageConfiguration": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, the OS volume will be created immediately if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeDeletion": {
                    "type": "boolean",
                    "default": false,
                    "description": "When server is added to the group, any existing internal storage configuration will be erased prior to creating the new OS volume if the server is activated or when the server is activated at a later time."
                  },
                  "storageVolumeName": {
                    "type": "boolean",
                    "default": false,
                    "description": "When a server is added to the group, associate a name with the created volume if the server is activated or when the server is activated at a later time."
                  }
                }
              }
            }
          },
          "autoAddServerTags": {
            "description": "User configured tag used for the automatic assignment of a server to a group",
            "type": "object",
            "example": {
              "Department": "Development"
            }
          }
        }
      },
      "deviceResponseCollection-v1beta2": {
        "allOf": [
          {
            "description": "Device collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/deviceResponse-v1beta2"
                }
              }
            }
          }
        ]
      },
      "deviceRequest-v1beta2": {
        "type": "object",
        "properties": {
          "serial": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "eTag": {
            "type": "string"
          },
          "serverId": {
            "type": "string"
          }
        }
      },
      "groupAssignRequest-v1beta2": {
        "required": [
          "devices"
        ],
        "type": "object",
        "properties": {
          "devices": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceRequest-v1beta2"
            }
          }
        }
      },
      "deviceResponseCollectionNew-v1beta2": {
        "required": [
          "devices"
        ],
        "type": "object",
        "properties": {
          "devices": {
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceResponse-v1beta2"
            }
          }
        }
      },
      "deviceDeviation-v1beta2": {
        "description": "Device deviation details",
        "type": "object",
        "properties": {
          "componentName": {
            "type": "string",
            "description": "Description of the firmware component which has a deviation with group firmware baseline"
          },
          "installedVersion": {
            "type": "string",
            "description": "Installed version of firmware component"
          },
          "expectedVersion": {
            "type": "string",
            "description": "Expected version for firmware component"
          },
          "componentFilename": {
            "type": "string",
            "description": "Name of the firmware component file"
          }
        }
      },
      "deviceCompliance-v1beta2": {
        "description": "Device compliance details",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "Primary identifier for the compliance given by the system",
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "description": "Type of the resource",
            "type": "string",
            "const": "compute-ops/group/compliance"
          },
          "generation": {
            "description": "Monotonically increasing update counter",
            "type": "integer",
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of compliance entry creation",
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "This refers to when the firmware compliance was checked."
          },
          "resourceUri": {
            "description": "URI to the deviceCompliance itself (i.e. a self link)",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/groups/c26e618b-4048-4aee-8e75-fbc984897a51/compliance/b73718fb-30c3-4b0f-bee3-f5dd598414f3"
          },
          "groupId": {
            "type": "string",
            "format": "uuid"
          },
          "serial": {
            "type": "string"
          },
          "productId": {
            "type": "string"
          },
          "serverId": {
            "type": "string"
          },
          "complianceStatus": {
            "$ref": "#/components/schemas/complianceState"
          },
          "deviations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/deviceDeviation-v1beta2"
            }
          },
          "errorReason": {
            "type": "string",
            "description": "It will have the reason for why the compliance state is UNKNOWN. for other compliance states it will be empty string."
          }
        }
      },
      "deviceComplianceCollection-v1beta2": {
        "allOf": [
          {
            "description": "Device compliance collection"
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "items"
            ],
            "properties": {
              "start": {
                "type": "integer",
                "description": "Zero-based resource offset, alias of `offset`",
                "minimum": 0
              },
              "items": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/deviceCompliance-v1beta2"
                }
              }
            }
          }
        ]
      },
      "reportType": {
        "type": "string",
        "description": "The type of report.  New report types may be added as a backward compatible change to the API.",
        "enum": [
          "CARBON_FOOTPRINT"
        ]
      },
      "report-v1beta1": {
        "type": "object",
        "description": "The metadata for a report.",
        "properties": {
          "id": {
            "description": "Primary identifier for the report metadata resource given by the system.",
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "example": "843023bd-9412-46c2-8ac2-a3691f657fdb"
          },
          "type": {
            "description": "The type of the resource.",
            "type": "string",
            "readOnly": true,
            "const": "compute-ops/report"
          },
          "generation": {
            "description": "Monotonically increasing update counter.",
            "type": "integer",
            "readOnly": true,
            "example": 1,
            "minimum": 1
          },
          "createdAt": {
            "description": "Time of report resource creation.",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2022-02-11T01:04:20.799937+00:00"
          },
          "updatedAt": {
            "description": "Time of the last update to the report resource.",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2022-02-11T01:04:20.799937+00:00"
          },
          "resourceUri": {
            "description": "URI to the report metadata resource itself (i.e. a self link).",
            "type": "string",
            "format": "uri-reference",
            "readOnly": true,
            "example": "/compute-ops/v1beta1/reports/843023bd-9412-46c2-8ac2-a3691f657fdb"
          },
          "name": {
            "description": "The display name of the report.",
            "type": "string",
            "readOnly": true,
            "example": "Carbon Footprint Report (All Servers)"
          },
          "reportDataStartAt": {
            "description": "Beginning of time range covered by the report.",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2022-02-04T01:04:20+00:00"
          },
          "reportDataEndAt": {
            "description": "End of time range covered by the report.",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "example": "2022-02-11T01:04:20+00:00"
          },
          "reportDataUri": {
            "description": "URI to the data for the report.",
            "type": "string",
            "format": "uri-reference",
            "readOnly": true,
            "example": "/compute-ops/v1beta1/reports/843023bd-9412-46c2-8ac2-a3691f657fdb/data"
          },
          "reportType": {
            "$ref": "#/components/schemas/reportType",
            "readOnly": true
          },
          "reportTypeDisplayName": {
            "description": "The display name for the type of the report.",
            "type": "string",
            "readOnly": true,
            "example": "Carbon Footprint Report"
          },
          "deviceIds": {
            "description": "List of IDs of devices included in the report.",
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "string",
              "example": "875765-S01+1M512501AB"
            }
          }
        }
      },
      "reportCollection-v1beta1": {
        "allOf": [
          {
            "description": "Paginated collection of report metadata resources."
          },
          {
            "$ref": "#/components/schemas/resourceCollection2"
          },
          {
            "type": "object"
          },
          {
            "required": [
              "count",
              "offset",
              "total",
              "items"
            ],
            "properties": {
              "items": {
                "description": "Array of resources in the page of the collection.",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/report-v1beta1"
                }
              }
            }
          }
        ]
      },
      "reportData-v1beta1": {
        "type": "object",
        "description": "The data for a report.",
        "properties": {
          "id": {
            "description": "Primary identifier for the report metadata resource given by the system.",
            "type": "string",
            "format": "uuid",
            "readOnly": true,
            "example": "843023bd-9412-46c2-8ac2-a3691f657fdb"
          },
          "type": {
            "description": "The type of the resource.",
            "type": "string",
            "readOnly": true,
            "const": "compute-ops/report-data"
          },
          "name": {
            "description": "The display name of the report.",
            "type": "string",
            "readOnly": true,
            "example": "Carbon Footprint Report (All Servers)"
          },
          "request": {
            "type": "object",
            "description": "Information about the requested report data.",
            "readOnly": true,
            "properties": {
              "reportDataStartAt": {
                "description": "Beginning of time range covered by the report.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2022-02-04T01:04:20+00:00"
              },
              "reportDataEndAt": {
                "description": "End of time range covered by the report.",
                "type": "string",
                "format": "date-time",
                "readOnly": true,
                "example": "2022-02-11T01:04:20+00:00"
              },
              "reportType": {
                "$ref": "#/components/schemas/reportType",
                "readOnly": true
              }
            }
          },
          "series": {
            "description": "Array of time series data in the report.  Each series contains samples for a subject,\npartitioned into a fixed set of buckets for the report.\n",
            "type": "array",
            "readOnly": true,
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "The display name for the time series.",
                  "type": "string",
                  "readOnly": true,
                  "example": "Carbon Emissions"
                },
                "type": {
                  "description": "The type of the time series.  New series types may be added as a backward compatible\nchange to the API.\n",
                  "type": "string",
                  "readOnly": true,
                  "enum": [
                    "CO2_EMISSIONS"
                  ]
                },
                "units": {
                  "description": "Abbreviation of the units for the values in the time series.",
                  "type": "string",
                  "readOnly": true,
                  "example": "kgCO2e"
                },
                "unitsDisplayName": {
                  "description": "The units for the values in the time series.",
                  "type": "string",
                  "readOnly": true,
                  "example": "kilograms of carbon dioxide equivalent"
                },
                "subject": {
                  "description": "The subject of the data in the time series.",
                  "type": "object",
                  "readOnly": true,
                  "properties": {
                    "displayName": {
                      "description": "The display name for the subject of the data in the time series.",
                      "type": "string",
                      "readOnly": true,
                      "example": "1M512501AB"
                    },
                    "id": {
                      "description": "The ID for the subject of the data in the time series.",
                      "type": "string",
                      "readOnly": true,
                      "example": "875765-S01+1M512501AB"
                    },
                    "type": {
                      "description": "The type of the subject of the data in the time series.",
                      "type": "string",
                      "readOnly": true,
                      "enum": [
                        "SERVER",
                        "TOTAL"
                      ]
                    }
                  }
                },
                "summary": {
                  "description": "Summary of data in the time series.",
                  "type": "object",
                  "readOnly": true,
                  "properties": {
                    "avg": {
                      "description": "The average of all samples in all buckets for the time series.",
                      "type": [
                        "number",
                        null
                      ],
                      "readOnly": true,
                      "example": 6.4
                    },
                    "sum": {
                      "description": "The sum of all samples in all buckets for the time series.",
                      "type": [
                        "number",
                        null
                      ],
                      "readOnly": true,
                      "example": 6.4
                    }
                  }
                },
                "bucketDurationInSec": {
                  "description": "The width of each bucket in the time series, in seconds.",
                  "type": "number",
                  "readOnly": true,
                  "example": 86961.3
                },
                "expectedSamplesPerBucket": {
                  "description": "The number of samples that would be expected to fall into this bucket,\nif all samples are available for the subject.  May not be a whole number,\nas samples may be split across buckets to provide more accurate data.\n",
                  "type": "number",
                  "readOnly": true,
                  "example": 289.9
                },
                "buckets": {
                  "description": "Array of buckets for the time series.  Each bucket summarizes the available samples for the\nsubject in the time period starting at the timestamp and ending `bucketDurationInSec` seconds later.\n",
                  "type": "array",
                  "readOnly": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "description": "The start time for the bucket.",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                      },
                      "value": {
                        "description": "The value for this bucket, based on all available samples for the subject in the\ntime range of the bucket.  If no samples are available, the value will be `null`.\n",
                        "type": [
                          "number",
                          null
                        ],
                        "readOnly": true,
                        "example": 6.4
                      },
                      "numSamples": {
                        "description": "The number of samples that contributed to the bucket.  May not be a whole number,\nas samples may be split across buckets to provide more accurate data.\n",
                        "type": "number",
                        "example": 233,
                        "readOnly": true
                      },
                      "noValueReason": {
                        "description": "If no samples are available for the bucket, the reason that no data is available.\nExactly one of `value` and `noValueReason` will be non-null for each bucket.\n",
                        "oneOf": [
                          {
                            "description": "A value is available for the bucket.",
                            "type": [
                              null
                            ]
                          },
                          {
                            "description": "The subject of the series was not connected at the time of the report data collection.",
                            "const": "NOT_CONNECTED",
                            "type": "string"
                          },
                          {
                            "description": "The subject of the series did not have a subscription at the time of the report data collection.\n",
                            "const": "SUBSCRIPTION_REQ",
                            "type": "string"
                          },
                          {
                            "description": "The subscription for the subject of the series was expired at the time of the report data\ncollection.\n",
                            "const": "SUBSCRIPTION_EXPIRED",
                            "type": "string"
                          },
                          {
                            "description": "The subscription tier for the subject of the series at the time of the report data collection was not sufficient to allow data to be collected.",
                            "const": "SUBSCRIPTION_TIER",
                            "type": "string"
                          },
                          {
                            "description": "A communications error occurred communicating with the subject of the series.",
                            "const": "ILO_COMM_ERROR",
                            "type": "string"
                          },
                          {
                            "description": "An internal error occurred collecting data from the subject of the series.",
                            "const": "INTERNAL_ERROR",
                            "type": "string"
                          },
                          {
                            "description": "The subject of the series requires a firmware update to enable data to be collected.",
                            "const": "ILO_VERSION",
                            "type": "string"
                          },
                          {
                            "description": "The subject of the series has no support for power metering, or it is disabled.",
                            "const": "NO_POWER_METERING",
                            "type": "string"
                          },
                          {
                            "description": "The reason no samples were available for the bucket is not known.",
                            "const": "UNKNOWN",
                            "type": "string"
                          }
                        ],
                        "example": null
                      },
                      "extrapolated": {
                        "description": "The value of this bucket, divided by the number of samples and multiplied by the expected number of\nsamples.  If less than the \"expected\" number of samples are available for the bucket, this value may\nbe considered a rough approximation of the value if all expected samples were available.\n",
                        "type": [
                          "number",
                          null
                        ],
                        "readOnly": true,
                        "example": 8
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "scheduleRESTOperationPatch-v1beta2": {
        "type": "object",
        "description": "A scheduled REST request operation.",
        "allOf": [
          {
            "$ref": "#/components/schemas/scheduleBaseOperation-v1beta2"
          },
          {
            "type": "object",
            "properties": {
              "method": {
                "description": "HTTP method for the request.",
                "type": "string",
                "readOnly": true,
                "enum": [
                  "DELETE",
                  "GET",
                  "HEAD",
                  "OPTIONS",
                  "PATCH",
                  "POST",
                  "PUT",
                  "TRACE"
                ],
                "example": "POST"
              },
              "uri": {
                "description": "Relative URI for the request.",
                "type": "string",
                "format": "uri-reference",
                "readOnly": true,
                "maxLength": 128,
                "example": "/api/compute/v1/jobs"
              },
              "headers": {
                "description": "HTTP request headers for the request.",
                "type": "object",
                "readOnly": false,
                "additionalProperties": {
                  "type": [
                    "string",
                    null
                  ],
                  "maxLength": 256
                },
                "propertyNames": {
                  "minLength": 1,
                  "maxLength": 128,
                  "pattern": "^[0-9a-zA-Z!#$%&'*+.^_`|~-]+$"
                },
                "maxProperties": 32,
                "example": {
                  "Accept-Language": "en"
                }
              },
              "query": {
                "description": "Query parameters for the request.",
                "type": "object",
                "readOnly": false,
                "additionalProperties": {
                  "type": [
                    "string",
                    null
                  ],
                  "maxLength": 256
                },
                "propertyNames": {
                  "maxLength": 128
                },
                "maxProperties": 32,
                "example": {
                  "force": "true"
                }
              },
              "body": {
                "description": "HTTP request body JSON, for request methods that accept a body.",
                "type": [
                  null,
                  "boolean",
                  "object",
                  "array",
                  "number",
                  "string"
                ],
                "readOnly": false
              }
            }
          }
        ]
      },
      "scheduleBaseOperation-v1beta2": {
        "type": "object",
        "description": "Base for any scheduled operation type.",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the operation executed by the schedule.",
            "example": "REST"
          },
          "timeoutInSec": {
            "type": "number",
            "description": "Timeout for the operation. If the operation takes longer, it will be aborted.",
            "default": 20,
            "exclusiveMinimum": 0,
            "maximum": 60
          }
        }
      },
      "scheduleOperationPatch-v1beta2": {
        "type": "object",
        "description": "A PATCH request on the action triggered by the schedule.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/scheduleRESTOperationPatch-v1beta2"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "REST": "#/components/schemas/scheduleRESTOperationPatch-v1beta2"
          }
        },
        "readOnly": false
      },
      "scheduleRESTHistory-v1beta2": {
        "type": "object",
        "description": "The result of a scheduled REST operation.",
        "readOnly": true,
        "required": [
          "status",
          "headers"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/scheduleBaseHistory-v1beta2"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "description": "HTTP status code of the response, or `null` if there was an error without a status code.",
                "type": [
                  "integer",
                  null
                ],
                "example": 200
              },
              "headers": {
                "description": "The HTTP response headers.",
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "example": {
                  "Location": "/api/compute/v1/jobs/01b7269f-d2c4-4da8-a66a-4675ef5787d1"
                }
              },
              "body": {
                "description": "The JSON payload from the body of the response.",
                "type": [
                  null,
                  "boolean",
                  "object",
                  "array",
                  "number",
                  "string"
                ]
              }
            }
          }
        ]
      },
      "scheduleBaseHistory-v1beta2": {
        "type": "object",
        "description": "Base for the result of any scheduled operation type.",
        "readOnly": true,
        "required": [
          "operationType",
          "type",
          "id",
          "resourceUri",
          "scheduleId",
          "scheduleUri",
          "startedAt",
          "succeeded",
          "summary",
          "debugId",
          "durationInSec",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "operationType": {
            "type": "string",
            "description": "The type of operation that was executed.",
            "example": "REST"
          },
          "type": {
            "type": "string",
            "description": "The type of the resource.",
            "const": "compute-ops/schedule/history"
          },
          "id": {
            "description": "A unique identifier for the execution of the schedule.",
            "type": "string",
            "format": "uuid",
            "example": "b7bac910-fec8-4907-ab78-f42b499d9041"
          },
          "resourceUri": {
            "description": "The URI of the history resource.",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/schedules/37f66ae4-20a1-48f1-b552-b515457639ca/history/b7bac910-fec8-4907-ab78-f42b499d9041"
          },
          "scheduleId": {
            "description": "The ID of the schedule resource that owns the history resource.",
            "type": "string",
            "format": "uuid",
            "example": "37f66ae4-20a1-48f1-b552-b515457639ca"
          },
          "scheduleUri": {
            "description": "The URI of the schedule resource that owns the history resource.",
            "type": "string",
            "format": "uri-reference",
            "example": "/compute-ops/v1beta2/schedules/37f66ae4-20a1-48f1-b552-b515457639ca"
          },
          "startedAt": {
            "description": "The time the execution of the schedule started.",
            "type": "string",
            "format": "date-time",
            "example": "2022-02-14T04:35:00.051732+00:00"
          },
          "succeeded": {
            "description": "`true` if the operation was successful, e.g. if the REST request received a 2xx response.",
            "type": "boolean",
            "example": true
          },
          "summary": {
            "description": "A Human readable summary, e.g. for a REST request, the HTTP status line or short connection error.",
            "type": "string",
            "example": "OK"
          },
          "debugId": {
            "description": "A unique identifier for the execution of the schedule, to be used to help with troubleshooting.",
            "type": "string",
[...]
